body{
	background-image:url(../img/background.jpg);
}

.headerBlock{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 241px;
	vertical-align: baseline;
	position: absolute;
}
.headerLogo{
	position: absolute; 
	top: 10px; 
	width: 100px; 
	left: 100px;
}
.logo{
	width: 100px; 
	cursor: pointer;
}
.imageLogo{
	margin-left: 0px;
	margin-top: 0px; 
	width: 100px; 
}

.titleText{
	position: absolute; 
	top: 22px; 
	width: 630px; 
	left: 283px;
}
.font_0 {
	font-family: Georgia, Enriqueta, serif;
	font-size: 41px;
	text-align: center;
}
.mainContainer{
	margin-left: auto;
    margin-right: auto;
    position: absolute;
    width:90%;
    top: 120px;
    margin-left: 5%;
}
#contentBox{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .5);
}
.textMore, .letra{
	display:none;
	font-size: small;
}
.seeMore{
	cursor: pointer;	
	color: blue;
}
.seeMore:hover{
	text-decoration: underline;
}

.languages > span{
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer;
}
.letra{
	margin-top: 5px;
}
.flex-video {
          position: relative;
          padding-top: 25px;
          padding-bottom: 67.5%;
          height: 0;
          margin-bottom: 16px;
          overflow: hidden;
           }

          .flex-video.widescreen { padding-bottom: 57.25%; }
          .flex-video.vimeo { padding-top: 0; }

          .flex-video iframe,
          .flex-video object,
          .flex-video embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

 @media only screen and (max-device-width: 800px),  
 only screen and (device-width:1024px) and (device-height: 600px), only screen 

 and (width: 1280px) and (orientation: landscape), only screen 

 and (device-width: 800px), only screen and (max-width: 767px) {

 .flex-video { padding-top: 0; }
   }
   
 .agendaData{
 	width: 150px;
 	font-weight: bold;
 	height: 50px;
 	line-height: 50px;
 	vertical-align: middle;
 	padding: 10px 10px 10px 10px;
 	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-right:-5px;
	border: 1px solid #337ab7;
}
 
.agendaTexto{
 	height: 50px;
 	line-height: 50px;
 	vertical-align: middle;
 	padding: 10px 20px 10px 20px;
	border: 1px solid rgb(221, 221, 221);
	color:#337ab7;
	margin-right:-5px;
}

.agendaSaibaMais{
 	width: 150px;
 	font-style: italic;
 	height: 50px;
 	line-height: 50px;
 	vertical-align: middle;
 	padding: 10px 10px 10px 10px;
 	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid #5bc0de;
	background: #5bc0de;
	font-size: small;
	color: white;
	cursor: pointer;
}


.agendaSaibaMais:hover{
	background: rgb(49, 176, 213);

	text-decoration: underline;
}
.agendaDados{
	display: none;

}
.nav-tabs>li>a{
	font-weight: bold;
}
}